/*
|--------------------------------------
| BREAD CRUMBS
|--------------------------------------
*/

.bread-crumb > ul {
    margin: 0;
    padding: 0;
    background: #FFF;
}

.bread-crumb > ul > li:first-child {
    content: "";
    margin-right: 10px;
    background: #493d55;
}

.bread-crumb > ul > li:first-child a:hover {
    color: #FFF;
}

.bread-crumb > ul > li:first-child:before {
    content: "";
}

.bread-crumb > ul > li:before {
    line-height: 1;
    color: #95a2a9;
    content: "\f105";
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    font-family: "FontAwesome";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.bread-crumb > ul > li > a,
.bread-crumb > ul > li > span {
    color: #95a2a9;
    padding: 8px 10px;
    display: inline-block;
}

.bread-crumb > ul > li > a:hover {
    color: #16a085;
}
