/*
|--------------------------------------
| DROP DOWN
|--------------------------------------
*/

.drop-down {
    position: relative;
}

.drop-down-menu {
    right: 0;
    top: 100%;
    z-index: 1000;
    display: none;
    padding: 5px 0;
    font-size: 14px;
    margin: -2px 0 0;
    text-align: left;
    list-style: none;
    min-width: 160px;
    border-radius: 0;
    background: #fff;
    position: absolute;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.drop-down-menu > li > a {
    display: block;
    color: #4a555b;
    font-weight: 400;
    padding: 5px 15px;
    white-space: nowrap;
    line-height: 1.42857143;
}

.drop-down-menu > li > a:focus,
.drop-down-menu > li > a:hover {
    color: #262626;
    background: #f5f5f5;
    text-decoration: none;
}

.drop-down-menu > li > a > i {
    margin-right: 5px;
}

.drop-down.nav-profile .drop-down-menu {
    min-width: 180px;
}

.drop-down-menu.with-arrow:before {
    width: 0;
    height: 0;
    top: -10px;
    left: auto;
    content: '';
    right: 11px;
    position: absolute;
    border-bottom: 9px solid rgba(0, 0, 0, 0.15);
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
}

.drop-down-menu.with-arrow:after {
    width: 0;
    height: 0;
    top: -8px;
    left: auto;
    content: '';
    right: 12px;
    position: absolute;
    border-bottom: 8px solid white;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}
