/*
|--------------------------------------
| FORM + FIELD
|--------------------------------------
*/

input, textarea {
    font-family: 'Lato', 'Arial', sans-serif;
}

.form {
    margin-bottom: 0;
}

.form .form-item {
    margin-bottom: 15px;
}

.form input[type="email"],
.form input[type="number"],
.form input[type="search"],
.form input[type="text"],
.form input[type="date"],
.form input[type="tel"],
.form input[type="url"],
.form input[type="password"],
.form select,
.form textarea {
    display: block;
    width: 100%;
}

.form input.width-50,
.form textarea.width-50,
.form select.width-50 {
    width: 50%;
}

.form label, .form .label {
    max-width: 100%;
    font-weight: 400;
    margin-bottom: 5px;
    display: block;
}

.form .checkboxes label,
.form label.checkbox {
    text-transform: none;
    font-weight: normal;
    cursor: pointer;
    color: inherit;
    font-size: 15px;
}

.form .checkboxes label {
    margin-bottom: 8px;
}

.form .checkboxes label:last-child {
    margin-bottom: 0;
}

.form .checkboxes-inline {
    display: block;
}

.form .checkboxes-inline label {
    color: inherit;
    font-size: inherit;
    display: inline-block;
    margin: 0 16px 0 4px;
    text-transform: none;
    font-weight: normal;
}

.form .checkboxes-inline label:last-child {
    margin-right: 0;
}

.form span.error,
.form div.error,
.form span.success,
.form div.success {
    text-transform: none;
    font-weight: normal;
    font-size: 12px;
}

.form span.error,
.form span.success {
    margin-left: .4rem;
}

.form-inline textarea,
.form-inline select,
.form-inline input[type="email"],
.form-inline input[type="number"],
.form-inline input[type="search"],
.form-inline input[type="text"],
.form-inline input[type="date"],
.form-inline input[type="tel"],
.form-inline input[type="url"],
.form-inline input[type="password"] {
    width: auto;
    display: inline-block;
}

/*
|--------------------------------------
| BUTTON
|--------------------------------------
*/

.button {
    color: #616f77;
    cursor: pointer;
    font-weight: 400;
    border-radius: 0;
    background: #FFF;
    padding: 5px 12px;
    text-align: center;
    white-space: nowrap;
    outline: 0 !important;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.42857143;
    border: 1px solid #cdd3d7;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button:hover {
    background: #f2f3f4;
}

.button:active {
    background: #eaeced;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.button:focus, .button:active {
    outline: 0 !important;
}

.button.with-icon {
    padding: 0;
    width: 24px;
    line-height: 22px;
}

.button.light-red {
    color: #FFF;
    background: #e05d6f;
    border-color: #dc485c;
}

.button.light-red:hover {
    color: #FFF;
    background: #dc485c;
    border-color: #d9364d;
}

.button.light-red:active {
    background: #d9364d;
    border-color: #d62a41;
}

.button.success {
    color: #FFF;
    background: #5cb85c;
    border-color: #4cae4c;
}

.button.success:hover {
    color: #FFF;
    background: #449d44;
    border-color: #398439;
}

.button.success:active {
    background: #3d8b3d;
    border-color: #398439;
}

.button + .button {
    margin-left: 5px;
}

/*
|--------------------------------------
| INPUT
|--------------------------------------
*/

.inp {
    width: 100%;
    color: #616f77;
    height: 32px;
    background: #FFF;
    padding: 5px 10px;
    border-radius: 1px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #D9D9D9;
    border-top-color: #C0C0C0;
    transition: all 0.2s linear;
}

textarea.inp {
    height: 100px;
    resize: vertical;
}

.inp:hover:not(span) {
    border: 1px solid #B9B9B9;
    border-top-color: #A0A0A0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}

.inp:focus {
    outline: medium none;
    border: 1px solid #4D90FE;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
}

.inp.error {
    border: 1px solid #dd4b39 !important
}

input[type=text][disabled], .inp[disabled] {
    background: rgb(235, 235, 228)
}

input:-ms-input-placeholder {
    color: gray;
}


/*
|--------------------------------------
| SELECT
|--------------------------------------
*/

.select {
    width: 100%;
    height: 32px;
    color: #616f77;
    background: #FFF;
    padding: 5px 10px;
    border-radius: 1px;
    border: 1px solid #D9D9D9;
    border-top-color: #C0C0C0;
    transition: all 0.2s linear;
}

.select-wrap {
    display: flex;
    font-size: 13px;
    cursor: pointer;
    min-width: 72px;
    position: relative;
}

.select-wrap .select {
    position: absolute;
}

.select-wrap .selected {
    flex: 1;
    color: #222;
    display: flex;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2px;
    position: relative;
    padding-left: 10px;
    white-space: nowrap;
    border: 1px solid #DDD;
    text-overflow: ellipsis;
    background: #f8f8f8 linear-gradient(to bottom, #fcfcfc 0, #f8f8f8 100%);
}

.select-wrap .selected input {
    flex: 1;
    margin: 0;
    height: 30px;
    cursor: pointer;
    user-select: none;
    line-height: 30px;
    padding: 0 24px 0 0;
    background: transparent;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.select-wrap .selected:after {
    top: 50%;
    width: 0;
    height: 0;
    right: 13px;
    content: ' ';
    display: block;
    position: absolute;
    margin-top: -2px;
    border-style: solid;
    border-width: 4px 4px 0 4px;
    border-color: #808080 transparent transparent transparent;
}

.select-wrap .selected:active:after,
.select-wrap .selected.active:after {
    cursor: text;
    margin-top: -3px;
    border-width: 0 4px 4px 4px;
    border-color: transparent transparent #808080 transparent;
}

.select-wrap .selected:hover {
    border-color: #D0D0D0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.select-wrap .selected:active,
.select-wrap .selected.active {
    color: #222;
    box-shadow: none;
    border-color: #BBB;
    background: #f8f8f8 linear-gradient(to bottom, rgba(0, 0, 0, 0.04) 0, rgba(0, 0, 0, 0.04) 100%);
}

.select-wrap .selected.active input {
    cursor: text;
}


.select-wrap .options {
    left: 0;
    top: 100%;
    margin: 0;
    width: 100%;
    z-index: 200;
    padding: 6px 0;
    cursor: default;
    background: #FFF;
    overflow-y: auto;
    max-height: 300px;
    position: absolute;
    transition: opacity 0.218s ease 0s;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-top: none;
}

.select-wrap .options.up {
    top: auto;
    bottom: 100% !important;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
    border-bottom: none;
}

.select-wrap .options li {
    color: #333;
    display: block;
    cursor: pointer;
    overflow: hidden;
    user-select: none;
    line-height: 1.385;
    white-space: nowrap;
    vertical-align: middle;
    padding: 6px 8em 6px 16px;
    text-overflow: ellipsis;
    list-style: outside none none;
}

.select-wrap .options li:hover {
    background: #EEE;
}

.select-wrap .options li.disabled {
    color: #999 !important;
    background: #f5f5f5 !important;
    cursor: not-allowed !important;
}

.select-wrap .options li.hidden {
    display: none !important;
}


/* Multi select  */

.select-wrap .multi {
    margin: 0;
    width: 100%;
    color: #333;
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
    padding: 2px 5px;
    background: #FFF;
    overflow: hidden;
    border-radius: 1px;
    position: relative;
    border: 1px solid #D9D9D9;
    border-top-color: #C0C0C0;
    list-style: outside none none;
}

.select-wrap .multi:hover {
    border: 1px solid #B9B9B9;
    border-top-color: #A0A0A0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}

.select-wrap .multi:focus {
    outline: medium none;
    border: 1px solid #4D90FE;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
}

.select-wrap .multi input {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 26px;
    background: #FFF;
    line-height: 26px;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.select-wrap .multi li {
    display: flex;
    padding: 0 8px;
    line-height: 24px;
    user-select: none;
    margin: 1px 5px 1px 0;
    border: solid 1px #D9D9D9;
}

.select-wrap .multi li a.remove {
    color: #777;
    font-size: 18px;
    margin-left: 8px;
    text-decoration: none;
}

.select-wrap .multi li a.remove:hover {
    color: #999;
}

.select-wrap .multi li:last-child {
    flex: 1;
    border: none;
    display: flex;
    padding: 0 5px;
    margin-right: 0;
}

select[multiple] {
    padding: 0;
}

select[multiple] option {
    margin: 1px 0;
    padding: 5px 8px;
    border: solid 1px #D9D9D9;
    background: #FFF !important;
}

/*
|--------------------------------------
| FILE
|--------------------------------------
*/

.file-wrap {
    margin: 0;
    padding: 0;
    position: relative;
}

.file-wrap .file {
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: absolute;
}

.file-wrap .inp {
    height: 32px;
    line-height: 30px;
    border-right: none;
    border-radius: 1px 0 0 1px;
}

.file-wrap .button {
    height: 32px;
    white-space: nowrap;
    display: inline-block;
    border: 1px solid #DDD;
    text-overflow: ellipsis;
    border-radius: 0 2px 2px 0;
    background: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.02)) #FFF;
}

/*
|--------------------------------------
| CHECKBOX, RADIO
|--------------------------------------
*/

input[type=checkbox], input[type=radio] {
    margin: 0;
    width: 18px;
    height: 18px;
    cursor: default;
    background: #FFF;
    border-radius: 1px;
    position: relative;
    transition: all .218s;
    box-sizing: border-box;
    vertical-align: middle;
    outline: none !important;
    -webkit-appearance: none;
    border: 1px solid #c0c0c0;
}

input[type=checkbox]:active, input[type=radio]:active {
    border-color: #666;
    background: #ebebeb
}

input[type=checkbox]:hover, input[type=radio]:hover {
    border-color: #666;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1)
}

input[type=radio] {
    border-radius: 50%;
}

input[type=radio]:checked::after {
    content: '';
    top: 3px;
    left: 3px;
    width: 10px;
    height: 10px;
    display: block;
    background: #666;
    border-radius: 50%;
    position: relative;
}

input[type=checkbox]:checked::after {
    top: 0;
    left: 0;
    width: 8px;
    content: '';
    height: 13px;
    display: block;
    position: absolute;
    border: 2px solid transparent;
    border-right-color: #666;
    border-bottom-color: #666;
    -webkit-transform: rotateZ(37deg);
    transform: rotateZ(37deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

input[type=checkbox]:focus {
    outline: none;
}

input[type=checkbox] + label,
input[type=radio] + label {
    margin: 0 0 0 2px;
    display: inline-block;
}

label + input[type=checkbox],
label + input[type=radio] {
    margin-left: 10px;
}

input::-webkit-input-placeholder {
    text-overflow: ellipsis;
    color: #000;
    opacity: .4;
}

input::-moz-placeholder {
    text-overflow: ellipsis;
    color: #000;
    opacity: .4;
}

input:-moz-placeholder {
    text-overflow: ellipsis;
    color: #000;
    opacity: .4;
}

input:-ms-input-placeholder {
    text-overflow: ellipsis;
    color: #000;
    opacity: .4;
}


input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

span.inp {
    height: auto;
    min-height: 30px;
}

.inp.small {
    width: 60px;
    height: 30px;
}

.radio-group {
    display: flex;
    padding-top: 5px;
}

.radio-group.column {
    flex-direction: column;
}

.radio-group.column div + div {
    margin-top: 5px;
}

.radio-group input[type=checkbox] + label,
.radio-group input[type=radio] + label {
    margin-left: 5px;
}

input[type="number"].inp {
    padding-right: 5px;
}

.form fieldset {
    margin-top: 10px;
    padding: 15px 15px 0;
}

.form fieldset + fieldset {
    margin-top: 26px;
}

.form legend {
    font-size: .75em;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(17,17,19,.5);
    padding: 0 1rem;
    top: 2px;
    position: relative;
    line-height: 0;
}
