/*
|--------------------------------------
| MESSAGE
|--------------------------------------
*/

.message {
    font-size: 13px;
    line-height: 18px;
    border: 1px solid;
    border-radius: 5px;
    position: relative;
    margin-bottom: 20px;
    padding: 10px 10px 10px 35px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
    box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.5);
}

.message span {
    font-size: 1.1em;
    font-weight: 400;
    margin-right: 10px;
}

.message > .close.icon {
    right: 1em;
    opacity: 0.7;
    cursor: pointer;
    position: absolute;
    transition: opacity 0.1s linear 0s;
}

.message > .close.icon:hover {
    opacity: 1;
}

.message .list {
    padding: 0;
    margin: 0.2em 0;
    list-style-position: inside;
}

.message ul.list li {
    padding: 0;
    font-weight: 400;
    position: relative;
    list-style-type: none;
    margin: 0 0 0.3em 1em;
}

.message ul.list li:before {
    content: "•";
    top: 0.13em;
    left: -0.8em;
    height: 100%;
    opacity: 0.5;
    line-height: 1;
    font-weight: 400;
    position: absolute;
    vertical-align: baseline;
}

.message ul.list li:first-child {
    margin-top: 0.5em;
}

.message:before {
    left: 10px;
    width: 16px;
    height: 16px;
    display: block;
    font-size: 1.2em;
    position: absolute;
    font-family: FontAwesome, sans-serif;
}

.message:after {
    top: 11px;
    right: 10px;
    width: 16px;
    height: 15px;
    display: block;
    position: absolute;
}

.message.success {
    color: #4e6e1b;
    border-color: #a7cb6c;
    background: linear-gradient(to bottom, #cce5a0 0%, #cae69a 50%, #c1df8f 100%) #c1df8f;
}

.message.warning {
    color: #a4752b;
    border-color: #e5d5a4;
    background: linear-gradient(to bottom, #fff6dc 0%, #fff6d6 50%, #ffefc4 100%) #ffefc4;
}

.message.info {
    color: #346b96;
    border-color: #b8cada;
    background: linear-gradient(to bottom, #def0ff 0%, #d4ecff 50%, #c3e4ff 100%) #c3e4ff;
}

.message.error {
    color: #81333c;
    border-color: #f16565;
    background: linear-gradient(to bottom, #ffacac 0%, #ff9898 50%, #ff7a7a 100%) #ff7a7a;
}

.message.success:before {
    color: #4e6e1b;
    content: "\f00c";
}

.message.warning:before {
    color: #a4752b;
    content: "\f071";
}

.message.info:before {
    color: #346b96;
    content: "\f129";
}

.message.error:before {
    color: #81333c;
    content: "\f05e";
}

.flex.between + #msgholder .message {
    margin-top: 15px;
}

.header-content + .message {
    margin: -5px 0 25px;
}

/*
|--------------------------------------
| NOTIFICATIONS
|--------------------------------------
*/

.tools-alert {
    color: #0f0f0f;
    padding: 12px 15px;
    background: #f7f8f8;
    margin-bottom: 1.65em;
}

.tools-message {
    top: 65px;
    right: 20px;
    display: none;
    font-size: 95%;
    color: #0f0f0f;
    position: fixed;
    z-index: 1000000;
    max-width: 350px;
    line-height: 1.5;
    padding: 12px 15px;
    background: #e0e3e5;
}

.tools-message ul {
    margin: 0;
    list-style: none;
}

.tools-message-black,
.tools-message-blue,
.tools-message-red,
.tools-message-green {
    color: rgba(255, 255, 255, 0.95);
}

.tools-message-black {
    background: #0f0f0f;
}

.tools-message-blue {
    background: #2575ed;
}

.tools-message-red {
    background: #de2c3b;
}

.tools-message-yellow {
    background: #ffc800;
}

.tools-message-green {
    background: #2c9f42;
}

.tools-alert-black {
    background: #dadada;
}

.tools-alert-blue {
    background: #d3e3fb;
}

.tools-alert-red {
    background: #f8d5d8;
}

.tools-alert-yellow {
    background: #fff4cc;
}

.tools-alert-green {
    background: #d5ecd9;
}

.table .message {
    margin-bottom: 0;
}