.size-30x30, .wh30 {
    width: 30px;
    height: 30px;
}

.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}

.img-circle {
    border-radius: 50%;
}

.list-none, nav > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.center {
    text-align: center !important;
}

.ico-profile {
    line-height: 38px;
}