.table {
    width: 100%;
    max-width: 100%;
    border-bottom: 1px solid #dbe0e2;
}

.table > thead:first-child > tr:first-child > td,
.table > thead:first-child > tr:first-child > th {
    border-top: 0;
}

.table > thead > tr td:first-child,
.table > thead > tr th:first-child,
.table > tbody > tr td:first-child,
.table > tbody > tr th:first-child,
.table > tfoot > tr td:first-child,
.table > tfoot > tr th:first-child {
    padding-left: 15px;
}

.table > thead > tr td,
.table > thead > tr th,
.table > tbody > tr td,
.table > tbody > tr th,
.table > tfoot > tr td,
.table > tfoot > tr th {
    border-color: #dbe0e2;
}

.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    padding: 8px;
    vertical-align: top;
    line-height: 1.42857143;
    border-top: 1px solid #ddd;
}

.table .action-column {
    padding: 0 15px;
    text-align: right;
    vertical-align: middle;
}

.table .image-column {
    padding: 0 8px;
    vertical-align: middle;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background: #f9f9f9;
}

.table a:hover {
    text-decoration: underline;
}
